/MySchedule_NetBeans_IDE/nbproject/private/
/MySchedule_NetBeans_IDE/MyScheduleDataItems.msf
/MySchedule_NetBeans_IDE/MyScheduleDataItems.msf
/MySchedule_NetBeans_IDE/option.dt
/MySchedule_NetBeans_IDE/build/
